.review--item {
    display: flex;
    box-sizing: border-box;
    padding: 24px;
    width: 506px;
    height: 230px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%), 0 0 3px 0 rgb(0 0 0 / 6%);
    gap: 30px;
}
.review--item .img-and-rating {
    width: 140px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.review--item .img-and-rating > img {
    width: 140px;
}
.review--item .img-and-rating > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review--item .img-and-rating > div > p {
    text-align: center;
    font-size: 13px;
    color: #0044BB;
}

.review--item .desc-and-author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.review--item .desc-and-author > p {
    font-size: 14px;
    color: #222222;
    line-height: 20px;
    font-weight: 500;
}
.review--item .desc-and-author > div {
    display: flex;
    gap: 10px;
}
.review--item .desc-and-author > div > span:first-child img {
    width: 40px;
    border-radius: 100%;
    overflow: hidden;
}

.review--item .author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.review--item .author p:first-child {
    font-size: 14px;
    font-weight: 600;
}
.review--item .author p:last-child {
    font-size: 13px;
    color: #999;
}